*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}

    /*fim do reset*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    }
header{
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 96px;
    width: 96px;
    background-color: #fff;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/t1/10994232-nike-logotipo-design-de-roupas-pretas-icone-abstrato-futebol-ilustracaoial-com-fundo-branco-gratis-vetor.jpg);
    background-size: contain;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 80px;
}
.conteudo p{
    font-size: 40px;
}
.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 35px;
    background-color: black;
    color: rgb(255, 255, 255);
}
.social div{
height: 64px;
width: 64px;
border-radius: 50px;
background-color: rgb(142, 142, 142);
}

.social{
    display: flex;
    justify-content: space-between;
}

.social-icon{
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 50%;
    font-size: 48px;
    color: #000;
}

.destaque{
    width: 50%;
    background-color: rgb(116, 116, 116);
    background-image: url;
}


footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

