*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}

    /*fim do reset*/

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    }
header{
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
    width: 64px;
    background-color: bisque;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    background-color: plum;
    display: flex;
}
.conteudo{
    width: 50%;
    background-color: red;
    padding-right: 128px;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 80px;
}
.conteudo p{
    font-size: 40px;
}
.conteudo button{
    height: 64px;
    width: 300px;
    font-size: 35px;
    background-color: black;
    color: wheat;
}
.social div{
height: 64px;
width: 64px;
border-radius: 50px;
background-color: aquamarine;
}

.social{
    display: flex;
    justify-content: space-between;
}

.destaque{
    width: 50%;
    background-color: azure;
}


footer{
    height: 100px;
    background-color: lightgoldenrodyellow;
}